*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.header{
    background-color:rgb(8, 8, 63);
    height:50vw; 
    margin: 0;     
}
.logo-section{
    position: relative;
    width:50%;
    height:30%;
    top:28%;
    left:24%;
}
#logo-siphonity{
    width:100%;
    padding: 2rem 0 0 2rem;
}
.tagline-section{
    position: relative;
    display: flex;
}
.tagline{
    padding-left: 2vw;
    text-align: justify-all;
}
.t-1{
    font-size: 6vw;
    color:green;
    font-weight: bold;
}
.t-2{
    font-size: 2vw;
    font-weight: bolder;
    color:rgb(219, 33, 135);
}
.t-3{
    color:rgb(182, 22, 121);
    font-weight: bolder;
    font-size: 3vw;
}
.tagline-row-image{
    float:right;
    position: relative;
}
.tagline-column-image{

}
#tagline-image{
    width:25vw;
    height: 20vw;
    padding:2vw 2vw 2vw 0vw ;
}
.About{
    margin:4rem 0 7rem 0 ;
}
.About-section{
    background-image: url(img/bgimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.heading{
    margin:4rem 0 4vw 0 ;    
}
#heading-title{
    margin-left: 3vw;
    color:rgb(8, 8, 63);
    font-size: 2rem;
    font-weight:bolder;
}
.About-myself-img{
    display: inline-block;   
    height:20vw;     
    position: relative;
    float: right;   
    left:4vw;
}
.About-myself{
    display: inline-block;       
    position: relative;
    float: right;   
    left:17vw;
}
#myimage{
    float: left;
    width:100%;
    height: 100%;
    border-radius: 100%;
}
#myname{
    font-size: 2rem;
    color:rgb(8, 8, 63);
    font-weight: bolder;
}
.intro-myself{
    line-height: 4vw;
    color:black;
    font-weight:10px;
}
#icon-insta{
    color:rgb(219, 16, 175);
    font-size: 2rem;    
}
#icon-fb{
    color:rgba(10, 114, 100, 0.623);
    font-size: 2rem;    
}
#icon-github{
    color:rgb(0, 0, 0);
    font-size: 2rem;    
}
#icon-twitter{
    color:rgb(9, 218, 255);
    font-size: 2rem;    
}
#icon-link{
    font-size: 2rem;    
}
.t-p{    
    border-collapse: separate;
    padding-left: 3vw;
}
.partner-row{
    width:90vw;
    display: inline-block;
    margin-top: 3rem;
    
    padding:0 0 0 5vw;
}
#pc{
    font-size: 5rem;
    text-align: center;
    padding:5vw 0 0 5vw;
}
#pc-1{
    font-size: 2rem;
    padding:3vw 3vw 0 0;
    font-weight: bolder;
}
.partner-column{
    float: left;
    width: 32%;
    padding-left: 4vw;
    height: 300px;  
    background-color:rgba(19, 52, 53, 0.034);
}
.vision-desc{
    width:95vw;
    padding:2vw 0 0 9vw;
}
.vision-row{
    height: 10vw;
    
}
.vision-column-1{
    width:40vw;
    margin-top: 3vw;
}
.vision-column-2{
    margin-top: 3vw;
    width:50vw;
}
.vision-p{
    padding: 1vw 1vw 1vw 1vw ;
    text-align: justify;
    color:rgb(16, 16, 17);
    font-weight: 800;
}








footer{
    background-color:rgb(8, 8, 63);
    height:5vw; 
}
.copyright{
    position: relative;
    top:50%;
}
.copyright-row{
    position: absolute;
    color:white;
    font-size: 1rem;
    left:35vw;
}
#insta-link{
    color: white;
}