*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color:rgb(8, 8, 63);
    height:50vw;      
}
.logo-section{
    position: relative;
    width:50%;
    height:30%;
    top:28%;
    left:24%;
}
#logo-siphonity{
    width:100%;
    padding: 2rem 0 0 2rem;
}
.quotes{
    margin: 4rem 0 0 1rem;
}
.tagline{
    color:rgb(8, 8, 63);
    font-weight: bold;
    text-align: center;
    float: right;
    font-size: 1.7rem;
}
#myimage{
    width:20%;
    height: 80%;
}

.copyright{
    position: relative;
    top:90%;
    left: 34%;
    font-size: 0.6rem;
    width:34%;
    background-color:rgb(6, 6, 75) ;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-top: 10rem;
}
.copyright-row{
    padding:0.3rem 1rem 0.3rem 1rem ;
    color:white;
}
#insta-link{
    color: white;
    font-size: 0.6rem;
}
#info-image{
    width: 100%;
    height: 100%;
}
.column-1-intro{
    width:50%;
    padding-top:2rem;
}
.intro-heading,.intro-para{
    margin:0  0 0  5rem ;
}
.intro-heading{
    font-size: 4rem;
    color:rgb(6, 6, 75);
}
.intro-para{
    font-size: 4rem;
    color:rgb(4, 76, 82);
    margin-top:2rem;
}
.Services-heading{
    color:rgb(6, 6, 75);
    margin:2rem  0 0  5rem ;
    font-size: 4rem;
}
#services-image{
    width: 50%;
    height: 50%;
    margin: 3rem 0 0 5rem ;
}
.services-column{
    width:25%;  
}