*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color:rgb(8, 8, 63);
    height:50vw;      
}
.logo-section{
    position: relative;
    width:50%;
    height:30%;
    top:28%;
    left:24%;
}
#logo-siphonity{
    width:100%;
    padding: 2rem 0 0 2rem;
}
.quotes{
    margin: 4rem 0 0 1rem;
}
.tagline{
    color:rgb(8, 8, 63);
    font-weight: bold;
    text-align: center;
    float: right;
    font-size: 1.7rem;
}
.About-section{
    margin:4rem 0 0 0 ;
    display: flex;
}
.about-heading{
    margin:0 0 3vw 0 ;
}
.About-myself{
    display: inline-block;   
    width:50vw;
    height:20vw;  
}
#myimage{
    width:50%;
    height: 100%;
    padding:0 0 0 7vw;  
    border-radius: 4px;  
}
#myname{
    font-size: 2rem;
    color:rgb(8, 8, 63);
    font-weight: bolder;
}
.intro-myself{
    line-height: 3vw;
    color:black;
    font-weight:10px;
}
footer{
    background-color:rgb(8, 8, 63);
    height:20vw; 
}
.copyright{
    position: relative;
    top:87%;
    left: 34%;
}
.copyright-row{
    color:white;
    font-size: 1rem;
}
#insta-link{
    color: white;
}